*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    box-sizing: border-box;

}
.container{
    background-color:rgb(198, 209, 217);
    height: 98vh;
   width: 100%;
   justify-self: center;
   display: flex;
}

.calculator form input{
    border: 0;
    outline: 0;
    width: 65px;
 height: 65px;
 background-color:transpernt;
 border-radius: 10px;
 font-size: 15px;
 cursor: pointer;
 margin:5px;
 box-shadow: -8px -8px 15px rgb(255, 255, 255, 0.1), 5px 5px 15px rgb(0,0,0,0.2);
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    background-color: #606060;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 25px;
    box-sizing: none;
}

.calculator{
    background-color: #3e4452;
    padding: 20px;
   border-radius: 10px;
}

form input.plusminus{
width: 146px;
}

form input.plus{
    height: 105px;
    font-size: xx-large;
}

form input.equals{
    width: 139px;
    font-size: xx-large;
}